* { margin: 0, padding: 0 }

a {text-decoration: none;}
p{font-size:15px;}
img{border:0;}

html {
    height:auto
        
}
body {
font: small font-family:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
     /*transform: scale(0.86);
   transform-origin: 0 0;*/
}
h1, h2, h3 {font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";color: #385b88;
    margin-block-start:0.5em;
    margin-block-end:0.5em;
    width:100%;
    margin:auto;
    height:auto;
    }
p {
    margin-block-start:0.5em;
    margin-block-end:0.5em;
}
.footer {
	width: auto;
	margin: auto;
	margin-top:0px;
	text-align:left;
	float:left;
	/*overflow:hidden;*/
	padding-top:5px;
	padding-bottom:15px;
    padding-left:10px;
	
    font-family:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.header {
	width: 100%;
	height:50px;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
    text-align:left;
  
   
	
	/*overflow:hidden;*/
}

.hline{
	width:auto;
	/*overflow:hidden;*/
	padding-top:10px;
    padding-left:5px;
	padding-bottom:0px;
	margin-bottom:0px;	
    
}

.content{
	width: 100%;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
}

.main{
	/*padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;*/
    padding-top:0px;
    width:90%;
    height:auto;
    padding-left:30px;
    padding-bottom:2px;
    font-family:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

#logo {
	float: left;
	text-align:left;
	color: #EEEEEE;
    width:100%
}
#logo h1 {
	margin: auto;
    height:auto;
	font-size: 2.3em;
    display:block;
    width:100%
}

.title{
    font-size:17px;
	/*float:left;*/
	text-align:center;
	width:100%;
	margin-bottom:5px;
	overflow:hidden;
}

/* --------------------------------------------------- */
/*                 Mobile 
/* --------------------------------------------------- */
@media screen and (max-width:1000px)
{
    .max1000{font-size:30px;}
	.content{
		width: 100%;
	}
	.header{
		width: 100%;
	}

	.footer{
		width: 100%;
	}
	.main{
	    width: 100%;
	}
}

@media screen and (max-width:800px)
{
    .max800{font-size:30px;}
	
	.main{
	    width: 100%;
		/*overflow:hidden;*/
	}	

	#logo {
		width: auto;
		text-align:left;
		margin-top:0px;
	}	
	
	.hmenu{
		width:8%;
		text-align:right;
	}


	.footer{margin-top:20px;}	
}

@media screen and (max-width:730px)
{

}

@media screen and (max-width:650px)
{
    .max650{font-size:30px;}
	
	#logo {
		width: 60%;
		text-align:center;
		margin-top:-7px;
	}
	.header{
	   height:84px;
	}	
	.hmenu{
	    display:block;
		width:39%;
		text-align:right;
		padding-top:0px;
		/*cursor:pointer;*/
	}

}

@media screen and (max-width:480px)
{
    .max480{font-size:30px;}
	
	#logo h1 {
		font-size: 1.9em;
	}
	
	.header{
	   height:79px;
	}
}

@media screen and (max-width:320px)
{
    .max320{font-size:30px;}

}

@media screen and (max-width:220px)
{
    .max200{font-size:30px;}
	.content{width:240px;}
	.header{width:240px;}
	.footer{width:240px;}
}